<div class="container">
  <h1 class="h1">Payment Receipt Update</h1>
  
  <div class="ion-text-center">
    <ion-input placeholder="Enter the amount transferred" type="number" class="text" [(ngModel)]="amount"></ion-input>
  <!-- <img src="../../assets/attach.svg" class="attach"/>
  <input type="file" name="photo" /> -->
  <!-- <ion-item> -->
    <br>
    <div>
    <div class="ion-text-center" (click)="inputFile.click()" class="#194E78-button">
          <img src="../../assets/Receipt-B.svg" class="attach"/>
    </div>
    <input #inputFile id="input-file"  style="opacity:0" type="file" name="bill_receipt" [(ngModel)]="bill_receipt"  (change)="uploadFiles($event)"
    multiple accept="image/png, image/jpeg" enctype="multipart/form-data"/>
<!-- </ion-item> -->
<div *ngIf="bill_receipt !== ''" class="pathname">
  {{bill_receipt}}
  </div>
  <!-- </div> -->
<!-- </div> -->
<div class="ion-text-center" id="buttonsdiv">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
  <div class="divider"></div>
  <button type="button" class="btn btn-primary" (click)="postbill()">Update</button>
</div>
<!-- <div>
  <ion-row>
      <ion-col col-6> 
        <div>
          <ion-button  class="provided-button" (click)="banktransfer()">Provided</ion-button>
          </div>
      </ion-col>
     <ion-col col-6>
        <div>
          <ion-button class="cancel-button" (click)="dismiss()">Cancel</ion-button>
          </div>
      </ion-col>
    </ion-row>
    </div> -->
  </div>
  <ion-content>
  </ion-content>
