.container{
  margin-top: 1em;
}
.h1{
  color: #194E78;
  text-align: center;
  font-size: 16pt;
  font-family:'Roboto';
}
.label{
  margin: 1em;
}
.btn
{
  box-shadow: none;
  outline: none;
}
.btn:active
{
  box-shadow: none;
  outline: none;
}
.text{
  --placeholder-color:#6E6E6E;
  margin-top: 2em;
}

.attach-button{
  width: 0px auto; 
  height: 8em;
  --background:white;
}
.attach{
  align-items: center;
  margin-top: 0em;
  height: 7em;
  width: 15em;
}
.btn-secondary{
  background-color:#6E6E6E;
  width: 7em;
  font-size: 16px ;
  font-weight: 500;
  height: 36px;
  border-radius: 7px;
  color: white;
}
.btn-primary{
  background-color:#194E78;
  border-color:#194E78;
  width:7em;
  font-size: 16px ;
  font-weight: 00;
  height: 36px;
  border-radius: 7px;
  color: white;
}
.divider{
  width:1em;
  height:auto;
  display:inline-block;
}
#buttonsdiv{
    margin-top: 1em;
}
@media only screen and (max-width: 321px) {
  .btn-primary{
    margin-top: 0.1em;
    width: 8em;
    background-color: #194E78;
    border: #194E78;
  }
   .divider{
    width:0.2em;
    height:auto;
    display:inline-block;
  }
  #buttonsdiv{
    margin-top: -1em;
}
.attach{
    align-items: center;
    margin-top: -1em;
    height: 7em;
    width: 15em;
}
}
