<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
  <ion-title>
    <ion-icon src="../../assets/notification-bell.svg" (click)="notifications()" class="bell">
    </ion-icon>
    <div class="ion-text-right">
      <img src="../../assets/top-right-logo.svg" class="logo">
    </div>
  </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Malfunctions List</h1>
    <div class="tabs">
      <!-- <ion-tab-bar  slot="top">
        <button type="button" class="btn1" (click)="new()">New Malfunctions</button>
        <div class="divider"></div>
        <button type="button" class="btn2" (click)="completed()">Completed Malfunctions</button>
      </ion-tab-bar> -->
    </div>
    <div class="flex-container">
      <ion-card class="card" (click)="malfunctionsDetails()">
        <div class="square">
          <div>
            <div class="complain">
              <h3 class="h3">Client : Shadab Khan</h3>
            </div>
            <br>
            <br>
          </div>

      
          <ion-text class="date">Assigned Time : Sunday, 23-03-2020<br></ion-text>
          <ion-text class="date">Status : New<br></ion-text>
          <ion-text class="date">Type : Unidentified<br></ion-text>
          <ion-text class="date">Level :</ion-text>
          <ion-text class="redtext"> Danger<br></ion-text>
        </div>
        <!-- </div> -->
      </ion-card>
      <ion-card class="card">
        <div class="square">
          <div>
            <div class="complain">
              <h3 class="h3">Client : Shadab Khan</h3>
            </div>
            <br>
            <br>
          </div>
          <ion-text class="date">Assigned Time : Sunday, 23-03-2020<br></ion-text>
          <ion-text class="date">Status : New<br></ion-text>
          <ion-text class="date">Type : Unidentified<br></ion-text>
          <ion-text class="date">Level :</ion-text>
          <ion-text class="yellowtext"> Danger<br></ion-text>
        </div>
        <!-- </div> -->
      </ion-card>
    </div>

  </div>
</ion-content>

<!-- <footer> -->
    <div class="white"></div>
    <ion-tab-bar class="foot" slot="bottom">
        <ion-tab-button (click)="home()">
            <ion-icon src="assets/user.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
            <ion-icon src="assets/email.svg" (click)="language()"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
            <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-button" (click)="home()">
                <ion-fab-button>
                    <ion-icon src="assets/home.svg" (click)="home()"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-tab-button>

        <ion-tab-button>
            <ion-icon src="assets/setting.svg" (click)="settings()"></ion-icon>
        </ion-tab-button>

        <ion-tab-button>
            <ion-icon src="assets/question.svg" (click)="inquiries()"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>


<ion-fab vertical="bottom" horizontal="center" slot="fixed"
    style="background-color: #194E78; margin-bottom: 7px; border-radius: 30px;" (click)="home()">
    <ion-fab-button class="fab-button">
        <ion-icon name="home"></ion-icon>
    </ion-fab-button>
</ion-fab>

<!-- <"footer"> -->