@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

.header{
    height: 40px;
background-color: #194E78;
position: initial;
}
.bell{
margin-left: 0.5em;
position: absolute;
top: 5px;
left: 0.5em;
width: 24px;
height: 30px;
}
.logo{
    position: absolute ;
    top: -4px;
    right: 0px;
    width: 66px;
    height: 86px;
}
.white{
    width: 100%;
    height: 2em;
}
h1{
    text-decoration: underline;color:#194E78 ; font-weight: bold;margin-top: 0em;
}
.flex-container{
    justify-content: center;
}
.btn-primary{
    width: 8em;
    background-color: #194E78;
    border: #194E78;
    outline: none;
  }
  .btn-secondary{
    width: 8em;
    background-color: #F5F5F5;
    color: #6E6E6E;
    border: #6E6E6E;
    outline:none;
  }
  .ionb{
  background: white;
  border:  none;
  }
  .divider{
    width:3em;
    height:auto;
    display:inline-block;
 
  }

   .container{
    margin-top: 1px;
   }
.flex-container{
display: flex;
}
.flex-container2{
 width: 100%;
 }
    .flex-container3{
        display: flex;
     justify-content: space-between;
     width: 100%;
       }
  
.card{
    --background:#FCFCFC;
    padding: 1em;
}
.billid{
    font-size: 20px;
    font-family:'Roboto';
    color: #194E78;
    margin-top: 0.1em;
        margin-left: 0.4em;
    float: left;
 }
 .billamount{
    font-size: 20px;
    font-family:'Roboto';
    color: #7A0001;
    margin-top: 0.1em;
    margin-right: 0.7em;
    float: right;
 }
.parts{
    font-size: 10pt;
    margin-top: 0px;
    font-family: "Roboto";
    color: #6E6E6E;
    margin-left: 0.7em;
}
.status{
    font-size: 10pt;
    margin-top: 0px;
    font-family: "Roboto";
    color: #6E6E6E;
    margin-left: 0.7em;
        }
   .emergency{
    font-size: 10pt;
    margin-top: 0px;
    font-family: "Roboto";
    color: #7A0001;
    margin-left: 0.1em;
 display: inline-block
   }
.textright{
    float: right;
}
.textleft{
    float: left;
}
.ion-text-right{
    margin-right: 0.2em;
}

.white{
  width: 100%;
  height: 1.1em;
}

.foot{
 background-color: #194E78; 
}
  ion-tab-button{
    background-color: #194E78;

   }
  .footer{
  position: sticky;
}
   ion-icon{
     color: white;
     font-size: 30px;
   }
  .fab-button{
    --background:#194E78;
  }