<div class="nav-wrapper" style="background: white;height: 1em;"></div>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<ion-header class="header">
  <!-- <ion-navbar class="navbar"> -->
  <ion-title>
    <ion-icon src="../../assets/notification-bell.svg" (click)="notifications()" class="bell">
    </ion-icon>
    <div class="ion-text-right">
      <img src="../../assets/top-right-logo.svg" class="logo">
    </div>
  </ion-title>
  <!-- </ion-navbar> -->
</ion-header>
<ion-content overflow-scroll="true">
  <div class="container">
    <h1 class="ion-text-center">Bill List</h1>
    <div class="tabs">
      <ion-tab-bar slot="top" class="ionb">
        <button type="button" class="btn btn-primary" (click)="unpaid()">Unpaid</button>
        <div class="divider"></div>
        <button type="button" class="btn btn-secondary" (click)="paid()">Paid</button>
      </ion-tab-bar>
    </div>
    <ion-card class="card" *ngFor="let result of bill_data let i=index" (click)="billdetails(i)">
      <div class="flex-container">
        <div class="flex-container2">
          <div>
            <div>
              <h6 class="billid">Bill # {{result?.bill_id}}</h6>
            </div>
            <div>
              <h6 class="billamount">{{result?.bill_amount}}</h6>
            </div>
          </div>
          <div class="flex-container3">
            <div class="parts">
              <ion-text>Type : {{result?.bill_type}}</ion-text>
            </div>
            <div class="ion-text-center">
              <ion-text class="status">Status: <ion-text class="emergency">{{result?.bill_status}}</ion-text>
              </ion-text>
            </div>
            <div class="ion-text-right">
              <ion-text>Date: {{result?.bill_date}}</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <!-- <ion-card class="card">
      <div class="flex-container">
       <div class="flex-container2">
         <div>
           <div>
            <h6 class="billid">Bill # TH21145</h6>
           </div>
           <div>
            <h6 class="billamount">650 Riyals</h6>
          </div>
         </div>
         <div class="flex-container3">
            <div class="parts">
              <ion-text>Type : Renew</ion-text>
            </div>
            <div class="ion-text-center">
              <ion-text class="status">Status: <ion-text class="emergency"> Status : {{result?.bill_status}}</ion-text></ion-text>
            </div>
            <div class="ion-text-right">
              <ion-text> Sunday 22-02-2020</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="card">
      <div class="flex-container">
       <div class="flex-container2">
         <div>
           <div>
            <h6 class="billid">Bill # TH35622</h6>
           </div>
           <div>
            <h6 class="billamount">1200 Riyals</h6>
          </div>
         </div>
         <div class="flex-container3">
            <div class="parts">
              <ion-text>Type : Installation</ion-text>
            </div>
            <div class="ion-text-center">
              <ion-text class="status">Status: <ion-text class="emergency">This Month</ion-text></ion-text>
            </div>
            <div class="ion-text-right">
              <ion-text> Sunday 22-02-2020</ion-text>
            </div>
          </div>
        </div>
      </div>
    </ion-card> -->
  </div>
</ion-content>
<!-- <footer> -->
<div class="white"></div>
<ion-tab-bar class="foot" slot="bottom">
  <ion-tab-button (click)="home()">
    <ion-icon src="assets/user.svg"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon src="assets/email.svg" (click)="language()"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-button" (click)="home()">
      <ion-fab-button>
        <ion-icon src="assets/home.svg" (click)="home()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon src="assets/setting.svg" (click)="settings()"></ion-icon>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon src="assets/question.svg" (click)="inquiries()"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>


<ion-fab vertical="bottom" horizontal="center" slot="fixed"
  style="background-color: #194E78; margin-bottom: 7px; border-radius: 30px;" (click)="home()">
  <ion-fab-button class="fab-button">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- <"footer"> -->