.container{
    margin-top: 1px;
   }
.flex-container{
display: flex;
background-color: #F5F5F5;
}
.flex-container2{
 width: 100%;
 }
    .flex-container3{
        display: flex;
     justify-content: space-between;
     width: 100%;
     margin-top: 0.3em;
    }
       .header{
        height: 40px;
    background-color: #194E78;
    }
    .bell{
    margin-left: 0.5em;
    position: absolute;
    top: 5px;
    left: 0.5em;
    width: 24px;
    height: 30px;
    }
    .logo{
        position: absolute ;
        top: -4px;
        right: 0px;
        width: 66px;
        height: 86px;
    }
     h1{
    text-decoration: underline;color:#194E78 ; font-weight: bold; margin-top: 3em;
}
.white{
    width: 100%;
    height: 2em;
}
.greendiv{
    background-color: #60D924; width: 35px;height: 100%;
}
.yellowdiv{
    background-color: #FABE11; width: 35px;height:100%;
}
.graydiv{
    background-color: gray; width: 35px;height:100%;
}
.reddiv{
    background-color: #E12121;; width: 35px;height: 100%;
}
.visit{
    font-size: 15pt;
    font-family:'Roboto';
    color: #194E78;
    margin-top: 0px;
    margin-left: 0.2em;
    padding-left: 0.3em;
    padding-top: 0.3em;
 }
.date{
    font-size: 10pt;
    margin-top: 0px;
    font-family: "Roboto";
    color: #6E6E6E;
    margin-left: 0.7em;
}
.detail{
    padding: 2px;
    font-size: 10pt;
    margin-top: 0px;
    font-family: "Roboto";
    color: black;
    margin-left: 0.7em;
}
.status{
margin-right: 0.7em;
}
.textright{
    float: right;
}
.textleft{
    float: left;
}
.btn-secondary{
    width: 6em;
    margin-top: 1em
}