@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);


.flex-container{
    justify-content: center;
    display: flex;
    margin-top: 1em;
    
}
.header{
  height: 40px;
background-color: #194E78;
 position: initial;
}
.bell{
margin-left: 0.5em;
position: absolute;
top: 5px;
left: 0.5em;
width: 24px;
height: 30px;

}

.logo{
  position: relative ;
  top: -5px;
  right: 0px;
  width: 68px;
  height: 86px;
  justify-content: center;
}

.ion-text-title{
  margin-top: 1.5em;
  text-align: center !important;
}
.ion-text-top{
  margin-top: 3.5em;
  text-align: center !important;
}
.ion-text-center{
  margin-top: 1.5em;

}
 .text{
font-weight:bold;
font-family: Roboto;
margin-top:  0.2em;
color:#194E78 ;
font-size:38px;


}
.white{
    width: 100%;
    height: 1.5em;
    border-top-style: none;
}
.white1{
  width: 100%;
    height: 1.5em;
    border-top-style: none;
}

.ion-text-center{
    margin-top: 0.1em;
}
.card{
  width: 166px;
  height: 85px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 0.45rem;
  margin-inline: 0.7em;
    
}


.card-img-top{
    width: 43px;
    height: 43px;
    margin-top: 0.2em;
    font-weight: bold;
}
.card-title{
    margin-top: -0.3em;
    color: #194E78;
    font-weight: 800;
    font-size:13px;
    font-family: Roboto;


}
.card-title1{
    margin-top: 0.5em;
    color: #194E78;
    font-weight: 800;
    font-size:13px;
    font-family: Roboto;


}


.tittle{
    color: #194E78;
    font-family:Roboto ;
    text-align: center;
    margin-top:30px ;
    font-size:30px;
    font-weight: 800;
}

.detail{
     box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px
      20px 0 rgb(0 0 0 / 19%);
      margin:1.5em;
      background:#FCFCFC;
     
}
.details{
    margin: 10px;
color: #194E78;
font-family: Roboto;
font-size: 25px;
font-weight: 700;
}
.sub-details{
     margin: 5px 5px 5px 15px;
font-family: Roboto;

}


ion-tab-bar, ion-tab-button{
    background-color: #194E78;

   }

.footer{
  position: sticky;
}
   ion-icon{
     color: white;
     font-size: 30px;
   }
  .fab-button{
    --background:#194E78;
  }
@media only screen and (max-width: 600px) {
  .card{
    width: 140px;
    height: 98px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

}