.header{
  height: 40px;
background-color: #194E78;
position: initial;
}
.bell{
margin-left: 0.5em;
position: absolute;
top: 5px;
left: 0.5em;
width: 24px;
height: 30px;
}
.logo{
  position: absolute ;
  top: -4px;
  right: 0px;
  width: 66px;
  height: 86px;
}
h1{
    text-decoration: underline;color: #194E78 ; font-weight: bold;margin-top: 1em;
}
.flex-container{
    justify-content: center;
}
.btn1{
  width: 10em;
  background-color: #194E78;
  border: #194E78;
  font-size: 13px;
  height: 3em;
  border-radius: 0.5em;
  color:white ;

}
.btn2{
 width: 13em;
  background-color: #F5F5F5;
  color: #6E6E6E;
   border: #6E6E6E;
  font-size: 12px;
  height: 3em;
  border-radius: 0.5em;
 
 
 
}
.divider{
  width:1em;
  height:auto;
  display:inline-block;
}
  .square{
      margin-left: 1em;
      margin-right: 1em;
  }
  .h3{
    font-family:'Roboto';
    font-size: 18px;
    margin-top: 0.5em;
    margin-left: 0em;
    margin-bottom: 0em;
    color: #194E78;
    text-align: left;
    }
  .date{
      color: #6E6E6E;
      font-family:'Roboto';
      font-size: 12px;
      margin-top: 0em;
      margin-left: 0em;
      text-align: left;
  }
  .complain{
      float: left;
  }
.card{
    background:#FCFCFC;
    padding: 1em;
    padding-top: 0.5em;
    margin-top: 1.5em;
    border: 1px solid #7A0001;
}

      .redtext{
          color: #7A0001;
      }
      .yellowtext{
color: #FABE11;
      }
     @media only screen and (min-height: 1000px) {
     .date{
            color: #6E6E6E;
            font-family:'Roboto';
            font-size: 25px;
            margin-top: 0em;
            margin-left: 0em;
            text-align: left;
        }
        .h3{
            font-family:'Roboto';
            font-size: 30px;
            margin-top: 0.5em;
            margin-left: 0em;
            margin-bottom: 0em;
            color: #194E78;
            text-align: left;
        }

      }
.white{
width: 100%;
height: 1.1em;
}

.foot{
background-color: #194E78; 
}
ion-tab-button{
  background-color: #194E78;

 }
.footer{
position: sticky;
}
 ion-icon{
   color: white;
   font-size: 30px;
 }
.fab-button{
  --background:#194E78;
}